.vscode
__pycache__
*.pyc
*.egg-info
.ipynb_checkpoints
.venv
.python-version
outputs/
datasets/*
!datasets/sacre_coeur/
tests/
server/client_data/
server/srv_conf.py
server/reconstruction/
lg_elec*
server/img_data/*
server/received_img/*
server/ser_conf.py
